.btn {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 22rem;
  min-height: 3rem;
  text-align: center;
}

.btn-google {
  border-radius: 0.25rem;
  text-align: left;
  text-decoration: none;
  border-width: 0.0625rem;
  border-style: solid;
  line-height: 1.25rem;
}

.btn-content {
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 1.25rem;
  font-size: 1rem;
  color: rgba(41, 41, 41, 1);
  font-weight: 300;
}

.google-btn {
  border-radius: 0.25rem;
  border-width: 0.0625rem;
  border-style: solid;
  line-height: 1.25rem;
}