.projectInfoCard {
  padding-left: 0px;
}
.textLeftAligned {
  text-align: left;
}
.serviceTabsContainer {
  margin-top: 50px;
  margin-bottom: 50px;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button {
  width: 100%;
}
.spinnerContainer {
  border: 1px solid;
  position: fixed;
  z-index: 1;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
}